<!DOCTYPE html>
<html>
	<head>
		<title>Weavebytes</title>
	</head>
    
    <body>

    <a href='/'>HOME</a> | <a href='/clothes'>CLOTHES</a> | <a href='/electronics'>ELECTRONICS</a> | <a href='/stationary'>STATIONARY</a>
    <br>



 
    {{#if published}}
	    {{{page_content}}}
    {{/if}}	


    <ul>
    {{#each data_items}}
    	<li>{{this}}</li>
    {{/each}}
    </ul>

    </body>

</html>
